<ul class="groups-list w-100 p-2 m-0">
  <%= render @groups %>
</ul>

<div class="w-100 bg-success add-exp d-flex flex-column align-items-stretch justify-content-center p-3 fixed-bottom">
  <%= link_to 'ADD NEW GROUP', new_group_path, :class=>"text-center text-white text-decoration-none border border-white border-3 rounded p-3" %>
</div>