<div class="pb-1 w-100">
  <div class="w-100 bg-white d-flex align-items-center justify-content-between p-3">
    <span class="text-muted">Total amount:</span>
    <span class="bold">&#36;<%= @expenses_total %></span>
  </div>
  <ul class="p-0 m-2">
    <%= render @expenses %>
  </ul>
</div>
