<%= render 'expenses' %>
<div class="w-100 bg-success add-exp d-flex flex-column align-items-stretch justify-content-center p-3 fixed-bottom">
  <%= link_to 'ADD NEW EXPENSE', new_expense_path, :class=>"text-center text-white text-decoration-none border border-white border-3 rounded p-3 h6" %>
</div>
